@import "vars";

.Order {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 16px;
  margin-bottom: 24px;
  align-items: center;

  padding: 20px;
}
.Order figure {
  margin: 0;
  text-align: center;
}
.Order figure img {
  width: 150px;
  height: 150px;
  border-radius: 20px;
  object-fit: cover;
}

.Order p {
  font-size: var(--md);
  font-weight: bold;
}
.Order .order-delete {
  text-align: center;
  img {
    width: 40px;
    height: 40px;
  }
}
